/* Assorted */

body {
  font-family: Helvetica;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}


/* Header */

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  background-color: black;
  height: 69px;
  width: 100%;
  top: 0px;
  left: 0px;
  border-bottom: 1px solid seashell;
}

.logo {
  height: 50px;
  padding-left: 10px;
}

nav {
  display: inline-flex;
  text-align: right;
  margin-left: 825px;
}

a {
  color: seashell;
  text-decoration: underline;
  padding: 10px;
  display: inline-block;
  text-align: justify;
}


/* Body - Mission */

.mission {
  background-image: url("../Photos/img-mission-background.jpg");
  display: flex;
  width: 1200px;
  height: 700px;
  margin: 69px auto;
}

.words {
  display: inline;
  background-color: black;
  height: 100px;
  width: inherit;
  text-align: center;
  align-content: center;
  margin: auto;
}
